# На примере данного файла создайте свой файл .env
# Вставьте свои значение вместо примера
# Передайте_ключ_из_файла_setting.py_конфигурации проекта без ('' "")
SECRET_KEY=django-insecure11111111

# Передайте значение True или False
DEBUG=False

# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=database_example
USER=example
PASSWORD=0000
HOST=localhost
PORT=5432

#укажите почту с которой будет отправка сообщений
EMAIL_HOST_USER=yourmail@gmail.com
# укажите сгенерированный пароль для приложения от почты
EMAIL_HOST_PASSWORD=abcdefghijklmnop

# передайте email на который будут приходить сообщения
EMAIL_TO=to_mail@mail.com

# Задайте значение для кеша:
LOCATION=redis://127.0.0.1:6379/0-15example