{% extends "blogs/base_blog.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <a class="btn btn-secondary mb-3" href="{% url 'blogs:blog_list' %}" role="button">
                        Назад
                    </a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}