{% extends "base.html" %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Контакты</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Страна</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>91-1144442</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Redmond,WA,98052-6399</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">

                    {% if success %}
                    <div class="alert alert-success">
                        Сообщение успешно отправлено!
                    </div>
                    {% endif %}
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="first_name">Имя</label>
                            <input type="text" name="first_name" class="form-control" id="first_name"
                                   placeholder="Ваше имя"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name">Фамилия</label>
                            <input type="text" name="last_name" class="form-control" id="last_name"
                                   placeholder="Ваша фамилия"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="city">Город</label>
                            <input type="text" name="city" class="form-control" id="city"
                                   placeholder="Ваш город" required>
                        </div>
                        <div class="mb-3">
                            <label for="address">Адрес</label>
                            <input type="text" name="address" class="form-control" id="address"
                                   placeholder="Ваш адрес" required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                    </form>

                    {% include 'provided_contacts.html' %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}