{% extends "base.html" %}
{% load catalog_tags %}
{% block content %}

<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-thumbnail" src="{{ product.image | media_filter }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Модель: {{ product.name }}</h5>
                    <h5 class="card-title">Цена: {{ product.price }} руб.</h5>
                    <p class="card-text"><small class="text-body-secondary">О товаре:</small></p>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Актуально от: {{ product.updated_at }}
                        </small></p>
                    <nav class="ms-5">
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Оформить заказ</a>
                    </nav>

                    {% if user.is_authenticated %}
                    <div class="btn-group mt-3">

                        {% if perms.catalog.can_delete_product or user == product.owner %}
                        <a class="btn btn-outline-secondary" href="{% url 'catalog:product_update' product.pk %}" role="button">
                            Редактировать
                        </a>
                        <a class="btn btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'catalog:home' %}" class="btn btn-outline-primary mt-2"> Назад к каталогу</a>
        </div>
    </div>
</div>
{% endblock %}